<form action="/artist-search" method="GET">

    <input type="text" name="artist">

    <button type="submit">Search for an artist</button>

</form>

{{!-- whenever you make GET requests in a form, it will append queries to the url (we can see them!)
key=value&key=value&key...etc
we make these key/value pairs by adding the name attribute to the form
the value within the input field becomes the value --}}